@import "../../sass/variable.scss"; 

.icon {
    height: 30px;
    width: 30px;
    background-color: $primary-color;
    border-radius: 15px;
}

.searchIcon {
    height: 60px;
    width: 60px;
    border-radius: 15px;
}