@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap');
// page colors 
$primary-color: rgb(18, 61, 18);
$secondary-green: rgba(18, 61, 18, 0.329);
$background-color: rgb(240, 236, 203);

// text colors
$dark-text: #2F4F4F;
$light-text: #F5F5F5;

// fonts
// $title-font: 'Concert One', cursive;
$text-font: 'Montserrat', sans-serif;
$title-font: 'Lobster', cursive;

$footer-height: 50px;
